@implements IDisposable
@rendermode InteractiveServer

<span class="mx-3">
    @* @if (_cartService.Lines.Count() > 0)
    { *@
        <small class="navbar-text">
            <b>Your cart:</b>
            @_cartService.SummaryString
            @* @_cartService.Lines.Sum(x => x.Quantity) item(s)
            @_cartService.ComputeTotalValue().ToString("c") *@
        </small>
    @* } *@
    <a class="btn btn-sm btn-light navbar-btn" href="/Cart">
        <i class="fa fa-shopping-cart"></i>
    </a>
</span>

@code {

    protected override async Task OnInitializedAsync()
    {
        _cartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _cartService.OnChange -= StateHasChanged;
    }
}
