@page "/xadmin/product/{id:long}"
@attribute [Authorize]

<PageTitle>@_title</PageTitle>
<h2>@_title</h2>
<hr />

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr><th>ID</th><td>@_model?.Id</td></tr>
        <tr><th>Name</th><td>@_model?.Name</td></tr>
        <tr><th>Description</th><td>@_model?.Description</td></tr>
        <tr><th>Category</th><td>@_model?.Category</td></tr>
        <tr><th>Price</th><td>@_model?.Price.ToString("C")</td></tr>
        <tr><th>Image</th><td>@_model?.ImageUrl</td></tr>
    </tbody>
</table>
<NavLink class="btn btn-warning" href="@($"/admin/product/update/{_model?.Id}")" title="Update"><i class="bi bi-pencil-square"></i> Update</NavLink>
<NavLink class="btn btn-light" href="/admin/products" title="Back to List"><i class="bi bi-list"></i> Back to List</NavLink>

@code {
    private ApplicationDbContext _db => Service;
    [Parameter] public long Id { get; set; }

    private string _title = "Details";
    private Product? _model { get; set; }
    protected override void OnParametersSet()
    {
        _model = _db.Products.FirstOrDefault(p => p.Id == Id);
    }
}