@page "/"

@* @attribute [Authorize] *@
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>
<h2>@_title</h2>
<hr />

@code {
    private string _title = "Home";
}